/* hidden default background for today */

/* hidden default border */
.fc-theme-standard td,
.fc-theme-standard th {
  background-color: white;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 0 solid white !important;
}

tr {
  block-size: 50px;
}

.fc-timegrid-slot-lane {
  position: relative;
}

.fc-timegrid-slot-lane::before {
  position: absolute;
  background-color: #e0e7ff;
  block-size: 1px;
  content: "";
  inline-size: 100%;
  inset-block-start: 50%;
  inset-inline-end: 0;
  inset-inline-start: 0;
  transform: translateY(-50%);
}

.fc-col-header-cell-cushion {
  padding: 24px !important;
}

.fc .fc-scrollgrid {
  /* position: relative; */
}

.fc-col-header-cell.fc-day {
  /* background-color: black !important; */
}

/* .fc-col-header-cell.fc-day ::before {
  position: absolute;
  background-color: #e0e7ff;
  block-size: 2px;
  content: "";
  inline-size: 100%;
  inset-block-end: 0;
  inset-block-start: 0;
} */
.fc-timegrid-event {
  /* inset-inline-end: auto !important;
  inset-inline-start: auto !important; */
}

.fc .fc-event .bg-light-success {
  background-color: blue !important;
  opacity: 1 !important;
}

.fc .fc-event .text-success {
  color: black !important;
}

.test-color {
  background-color: black !important;
}

.fc-col-header-cell-cushion {
  font-size: 20px !important;
  font-weight: 700;
  inline-size: 83px;
  white-space: normal;
  word-spacing: 200px;
}

.fc-col-header-cell-cushion::first-line {
  font-size: 16px !important;
  font-weight: 400;

  /* // line-height: 20px; */
}

.fc-day-today .fc-col-header-cell-cushion {
  color: #6366f1 !important;
}

.bottom-schedule .v-switch__thumb {
  background-color: white !important;
  block-size: 12px !important;
  inline-size: 12px !important;
}

.bottom-schedule .v-switch__track {
  block-size: 18px;
}

.bottom-schedule .v-label {
  color: var(--text-dark) !important;
  opacity: 1;
}

.text-ar {
  color: var(--text-dark);
}

.delete {
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .bottom-schedule {
    justify-content: center !important;
  }

  .bottom-schedule-1 {
    justify-content: center !important;
    margin-block-start: 30px;
  }
}

@media (max-width: 991px) {
  .text-ar {
    font-size: var(--font-size-ssm) !important;
  }
}
