// Write your overrides
:root {
  --border-light-round: 5px;
  --border-rounded: 30px;
  --color-primary: #6366f1;
  --border-gray: #d1d5db;
  --text-dark: #111827;
  --text-active: #374151;
  --text-deactive: #9ca3af;
  --text-gray-light: #6b7280;
  --font-size-lg: 1.5rem;
  --font-size-md: 1.2rem;
  --font-size: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-sxm: 0.8rem;
  --font-size-ssm: 0.6rem;
  --font-size-h4: 2.125rem;
  --font-size-h3: 3rem;
  --font-weigth: 500;
  --font-weigth-light: 400;
  --background-light: #f6f6fe;
  --rounded-radius: 40px;
  --font-weight-less-bold: 600;
  --font-weight-bold: 700;
  --smooth: all 0.4s;
}
